@model Agendamento.Models.PacienteModel
@{
}
<div class="row">
    <div class="col-md-6 d-none d-md-block" style="height: 450px;">
        <div class="text-center col-md-12 my-auto side-heder">
            <h1>Cadastro de Usuário</h1>
            <img src="~/registerImage.png" />
        </div>
    </div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" maxlength="100" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">CPF</label>
                <input asp-for="CPF" class="form-control" maxlength="14" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Data de nascimento</label>
                <input asp-for="DataNscimento" class="form-control" />
                <span asp-validation-for="DataNscimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="form-check-inline">
                    <input type="radio" asp-for="Sexo" value=" M" />
                    <span class="form-check-label"> Masculino</span>
                </label>
                <label asp-for="Sexo" class="form-check-inline">
                    <input type="radio" asp-for="Sexo" value=" F" />
                    <span class="form-check-label"> Feminino</span>
                </label>  
                <label asp-for="Sexo" class="form-check-inline">
                    <input type="radio" asp-for="Sexo" value=" Outros" />
                    <span class="form-check-label"> Outros</span>
                </label>
            </div>
            <div class="form-group">
                <a class="btn btn-secondary" asp-controller="Usuarios" asp-action="Index">Voltar</a>

                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>